html, body {
  min-width: 300px;
}

.glpi-link {
  width: 100%;
  padding: 4px;
  font-size: 1.5em;
  cursor: pointer;
}

.glpi-link:hover {
  background-color: #CFF2F2;
}

.align-number-right {
  float: right;
  margin-left: 10px;
}